<section class="about" >
  <div class="container">
    <h2>About Me</h2>
    <div class="about-content">
      <div class="about-text">
        <p>{{ 'about.aboutme1' | translate }}</p>
        <p>{{ 'about.aboutme2' | translate }}</p>
      </div>
      <div class="about-stats">
        <div class="stat">
          <h3>5+</h3>
          <p>{{ 'about.aboutme3' | translate }}</p>
        </div>
        <div class="stat">
          <h3>10+</h3>
          <p>{{ 'about.aboutme4' | translate }}</p>
        </div>
        <div class="stat">
          <h3>3+</h3>
          <p>{{ 'about.aboutme5' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
