<section class="projects">
  <div class="container">
    <h2 translate="projects.title">My Projects</h2>
    <div class="projects-grid">
      <div *ngIf="!projects.length" class="loading">
        <p translate="home.loading">Loading projects...</p>
      </div>
      <div *ngFor="let project of projects" class="project-card" [routerLink]="['/projects', project.id]">
        <div class="project-image">
          <img 
            [src]="project.image"
            [alt]="project.name"
            class="project-image"
            [ngClass]="{ 'loading': !project.image || project.image === '' }"
            (error)="project.image = '/assets/images/projects/default-project.png'"
          />
        </div>
        <div class="project-content">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
          <div class="project-tech">
            <span *ngFor="let tech of project.technologies">
              {{ tech }}
            </span>
          </div>
          <div class="project-links">
            <a *ngIf="project.github" [href]="project.github" target="_blank" class="project-link">
              <i class="fab fa-github"></i> GitHub
            </a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
