
<section class="hero" style="margin-top: 200px;">
  <div class="hero-content" [@fadeIn]>
    <div class="hero-profile">
      <div class="profile-photo">
        <img src="../../assets/images/pict.jpg" alt="{{name}}" class="rounded-image" />
      </div>
      <div class="profile-info">
        <h1>{{name}}</h1>
        <h2>{{role}}</h2>
       
        <div class="download-section btn btn-primary">
          <button (click)="downloadCV()" class="btn btn-primary btn-round download-cv-btn">
            <i class="fa fa-download"></i> Download CV
          </button>
        </div>
      </div>
    </div>
    <div class="skills">
      <div class="skills-categories">
        <div class="category" *ngFor="let category of skills">
          <h4>{{category.category}}</h4>
          <div class="skills-list">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="presentation-section">
  <div class="container">
    <!-- Présentation -->
    <div class="section-content">
      <h2>Présentation</h2>
      <p>
        <strong>Développeur</strong> chez Wisetech-ENG depuis septembre 2024, je participe activement au développement de solutions logicielles innovantes. 
        <br><br>
        <strong>Précédemment</strong> : Développeur chez Kunto de 2023 à 2024, où j'ai acquis une solide expérience en développement web.
      </p>
    </div>

    <!-- Mes valeurs -->
    <div class="section-content">
      <img src="assets/images/parcours/values.png" alt="Valeurs professionnelles" class="section-image">
      <h2>Mes valeurs</h2>
      <p>
        Je suis très attaché en premier lieu à la <strong>confiance</strong> : celle que l'on peut me porter mais aussi celle que l'entreprise doit pouvoir offrir à chacun de ses employés. 
        Je crois en la <strong>transparence</strong> et la <strong>bienveillance</strong> comme piliers de la relation de travail. Il s'agit pour moi des ingrédients essentiels à 
        l'établissement de bases saines pour assurer une bonne collaboration mais aussi pour susciter l'engagement et la motivation de chacun.
      </p>
      <p>
        Je pense qu'un bon professionnel doit faire preuve de <strong>rigueur</strong> et d'une bonne organisation pour dérouler efficacement sa mission. 
        Le <strong>goût du travail bien fait</strong> et le <strong>souci de la qualité</strong> sont également des valeurs qui me tiennent à cœur. 
        Enfin, je suis convaincu que <strong>l'humilité</strong> est indispensable pour progresser efficacement et travailler en équipe.
      </p>
    </div>

    <!-- Mon projet professionnel -->
    <div class="section-content">
      <img src="assets/images/parcours/development.png" alt="Développement" class="section-image">
      <h2>Mon projet professionnel</h2>
      <p>
        <strong>Passionné d'informatique</strong> depuis mon plus jeune âge (11 ans), j'aime explorer tous les aspects du développement d'applications, découvrir et pratiquer différents langages, 
        dans une démarche <strong>clean code</strong>. Je suis très à l'aise avec les technologies modernes et les bonnes pratiques de développement.
      </p>
      <p>
        Je m'efforce toujours de produire du code de qualité, en utilisant les meilleures pratiques et en veillant à la performance des applications que je développe.
      </p>
      <p>
        Convaincu de la valeur ajoutée par <strong>l'Agilité</strong> et la <strong>culture DevOps</strong>, j'ai eu l'occasion de mettre en place des pratiques agiles et des mécaniques 
        d'<strong>automatisation avancée</strong> dans plusieurs entreprises, en particulier en tant que développeur full stack.
      </p>
    </div>

    <!-- Mes qualités humaines -->
    <div class="section-content">
      <img src="assets/images/parcours/teamwork.png" alt="Travail en équipe" class="section-image">
      <h2>Mes qualités humaines</h2>
      <p>
        Je suis à l'<strong>écoute</strong>, <strong>empathique</strong> et j'aime <strong>travailler en équipe</strong>. 
        Je suis capable de m'<strong>adapter</strong> à différentes situations et à de nouveaux environnements (techniques ou humains).
      </p>
      <p>
        <strong>Rigoureux</strong>, j'ai le <strong>sens des responsabilités</strong> et porte une attention toute particulière au respect de mes engagements.
      </p>
      <p>
        J'aime <strong>apprendre</strong>, <strong>découvrir</strong> de nouvelles choses et étendre mes compétences. 
        <strong>Créatif</strong> et <strong>innovant</strong>, je sais cependant évaluer le <strong>risque</strong> et peser les avantages et inconvénients d'une solution avant de la mettre en œuvre.
      </p>
    </div>

    <!-- Mes centres d'intérêt -->
    <div class="section-content">
      <h2>Mes centres d’intérêt</h2>
      <p>
        Proche de la nature, j'aime la <strong>photographie</strong>, passer du temps au jardin, m'occuper des plantes et observer les oiseaux. 
        J'aime <strong>randonner en montagne</strong> et m'éloigner de la ville pour me ressourcer.
      </p>
      <p>
        J'ai aussi des loisirs proches de mon activité professionnelle : je <strong>code pour le plaisir</strong>, pratique des <strong>katas</strong> 
        et me documente par de nombreuses lectures sur l'<strong>ingénierie logicielle</strong> en général.
      </p>
    </div>
  </div>
</section>
